.loginWrapper{
	width: 100%;
	height: 100vh;
	background-color: #e8f0f7;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background:#ffffff;
	padding:40px;
	width: 100%;
	max-width: 450px;
	border-radius: 20px;
}
.auth {
	width: 100%;
	display: flex;
	flex-direction: column;
  }
  
  .auth h1 {
	text-align: left;
	color: rgb(51, 51, 51);
	margin:0px 20px 30px 0px;
  }
  
  .control {
	margin-bottom: 30px;
  }
  
  .control label {
	display: block;
	color: rgb(51, 51, 51);
	font-weight: bold;
	margin-bottom: 0.5rem;
	text-align: left;
  }
  
  .control input {
	outline: none;
	border:none;
	font: inherit;
	background-color: #e8f0f7;
	color: rgb(51, 51, 51);
	border-radius: 10px;
	width: 100%;
	text-align: left;
	padding: 10px;
  }
  .control input:focus{  
	border: solid 2px #45afe3;
  }
  .actions {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: left;
  }
  
  .actions button {
	cursor: pointer;
	font: inherit;
	color: rgb(51, 51, 51);
	background-color: transparent;
	border: 2px solid #949494;
	border-radius: 10px;
	margin-top: 10px;
	padding: 10px;
  }
  
  .actions button:hover {
	background-color: #45afe3;
	border-color: #45afe3;
	color:#ffffff;
  }
  
  .actions .toggle {
	margin-top: 1rem;
	background-color: transparent;
	color: rgb(51, 51, 51);
	border: none;
	padding: 0.15rem 1.5rem;
  }
  
  .actions .toggle:hover {
	background-color: transparent;
	color: #45afe3;
  }

  @media only screen and (max-width: 500px) {
	.loginContainer{
		padding:20px;
		margin:20px;
	}
  }